// Here you can add other styles
.logo-container{
  background-color: #10285d !important;
}
.thm-search-input {
  input::placeholder {
    color: #4D4F5C ;
  }
}
.h-65px {
  height: 65px;
}
.pl-86 {
  padding-left: 86px;
}

.pr-170 {
  padding-right: 170px;
}

.primary-1 {
  color: #3b548c;
}
.dropzone {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fafbfd;
  border: 1px solid #e5e5e6;
}
.thm-setting-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  .upload-desc {
    color: #bbbdc2;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .thm-upload-btn {
    width: 120px;
    font-size: 16px;
  }
  .profile-form {
    padding: 0 150px;
  }
  .thm-form-alert-group {
    display: flex;
    margin-bottom: 60px;
    padding-top: 40px;
    label {
      font-size: 20px;
      display: flex;
      color: #153376;
      input {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }
  .right-side {
    text-align: end;
    padding-bottom: 50px;
  }
  .thm-submit-btn {
    height: 38px;
    width: 70px;
    font-size: 18px;
  }
}
.thm-flex-column {
  display: flex;
  flex-direction: column;
  input {
    border: none;
    outline: none;
    border-bottom: 3px solid #173577;
    margin-bottom: 30px;
    line-height: 40px;
    height: 40px;
    font-size: 20px;
  }
  input::placeholder {
    font-size: 20px;
  }
  input:focus {
    border-bottom: 3px solid #3b86ff;

  }
  #thm-phone-number-field {
    margin-bottom: 10px;
  }
}
